/* here you can put your own css to customize and override the theme */
/* .dataTables tbody td { */
/*     height: 50px; or whatever height you need to make them all consistent */
/* } */
div.dt-buttons {
    float: right;
    margin-left:6px;
}
.mybtn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background:#dddddd;
  width:100%;
  height:100%;
  border: 1px solid transparent; 
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 100%;
  line-height: 1.42857143;
}

.mybtnClickGreen{
	background:#c6e0b4;
}
.mybtnClickBlue{
	background:#bdd7ee;
}
.tableCell{
	font-size: 14px;
	border-bottom: 0;
	font-weight: 600;
	text-align: center;
	border: 1px solid #bbb;
	line-height: 1.42857143;
}
#loadingGIF{
	height:100vh;
	width:100vw;
	position: fixed;
    top: 0%;
    left: 0%;
    z-index: 99;
    display:none;
}